* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  text-align: center;
}

body h1 {
  margin-top: 5rem;
  font-size: 2.5rem;
}

p#password-display {
  background-color: #ccc;
  font-size: 2rem;
  width: 50rem;
  padding: 1rem 0;
  margin-inline: auto;
  margin-top: 2rem;
}

a#start-button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: cadetblue;
  border: 0;
  border-radius: 2rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: background-color 200ms ease-in-out;
}

a#start-button:hover {
  background-color: rgb(63, 117, 119);
}
